@import "./common.scss";

$tomato: #bf0a2b;
$leaf: #65bfaf;
$white: #f1f2d8;
$opacity-white: #ffffff65;
$opacity-white-dim: #ffffff36;
$black: #26252380;
$black-dim: #272727;
$gray: #d0d0d05c;
$yellow: #c7aa57;
$orange: #f2ac57;
$dim-yellow: #b2b3a0;
$pink: #f27983;
$blue: #009dcf;
%left-bar-color {
  @include ToTheme($theme-tomato) {
    background-color: $black;
  }
}
