@import "./common.scss";

$tomato: #bf0a2b;
$leaf: #65bfaf;
$white: #f1f2d8;
$opacity-white: #ffffff9e;
$black: #26252380;
$gray: #d0d0d05c;
$yellow: #c7aa57;

%left-bar-color {
  @include ToTheme($theme-tomato) {
    background-color: $black;
  }
}
