@import "./sidebar.scss";

$rem-size: 16;
$corner-border-radius: 0.5rem;
@mixin BorderRadius {
  border-radius: $radius * 1px;
}

@mixin WhenLandscape {
  @media (orientation: landscape) {
    @content;
  }
}
@mixin WhenPortrait {
  @media (orientation: portrait) {
    @content;
  }
}

$theme-tomato: "theme-tomato";
@mixin ToTheme($theme-name) {
  .#{$theme-name} & {
    @content;
  }
}
