$radius: 20;
$rem-size: 16;
@mixin BorderRadius {
  border-radius: $radius * 1px;
}

@mixin WhenLandscape {
  @media (orientation: landscape) {
    @content;
  }
}
@mixin WhenPortrait {
  @media (orientation: portrait) {
    @content;
  }
}

$theme-tomato: "theme-tomato";
@mixin ToTheme($theme-name, $root: &) {
  .#{$theme-name} {
    @at-root #{$root} {
      @content;
    }
  }
}
