$radius: 20;
$rem-size: 16;
@mixin BorderRadius {
  border-radius: $radius * 1px;
}

@mixin whenlandscape {
  @media (orientation: landscape) {
    @content;
  }
}
@mixin whenportrait {
  @media (orientation: portrait) {
    @content;
  }
}
