$text-indent: 30;
$icon-top-offset: 6;
$icon-left-offset: 8;
%sidebar-list-item {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .sidebar-icon {
    margin-left: 12px;
    margin-right: 10px;
  }
  .sidebar-txt {
    white-space: nowrap;
  }
}
